$lightest_pink: #f8bbd0;
$light_pink: #f48fb1;
$pink: #e91e63;
$dark_pink: #ad1457;
$darkest_pink: #880e4f;

body {
    padding: 0;
    margin: 0;
    font-family: "bettersans";
    background: url("/static/images/crossword.png");
}

a {
    text-decoration: none;
    cursor: pointer;
}

@font-face {
    font-family: "curly";
    src: url("/static/fonts/curly.ttf");
}

@font-face {
    font-family: "stalemate";
    src: url("/static/fonts/stalemate.ttf");
}

@font-face {
    font-family: "headers";
    src: url("/static/fonts/poiret.ttf");
}

@font-face {
    font-family: "bettersans";
    src: url("/static/fonts/bettersans.ttf");
}

%text_overflow {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

%button_style {
    border: 1px solid $lightest_pink;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.12);
    &:hover { box-shadow: 0 3px 3px 0 rgba(0,0,0,.16); }
}

%absolutely_centered {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.dashboard {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .dashboard__container {
        margin-top: 100px;
        overflow: scroll;
    }

    .dashboard__header {
        position: fixed;
        background-color: $pink;
        height: 60px;
        width: 100%;
        padding: 20px;
        box-shadow: 0 3px 3px 0 rgba(0,0,0,.12);

        .dashboard__header-title {
            color: white;
            font-family: "stalemate";
            font-size: 40px;
            line-height: 80px;
        }
    }
}

.login {
    @extend %absolutely_centered;
    background-color: black;

    .login__content {
        position: absolute;
        left: 50%;
        top: 100px;
        margin-left: -40%;
        height: 60%;
        width: 80%;
        border-radius: 10px;
        background: url("/static/images/orgy.jpg");
        background-size: cover;
        box-shadow: 0 0 100px 50px black inset;
    }

    .login__title {
        font-family: "stalemate";
        font-size: 82px;
        line-height: 82px;
        margin-left: 80px;
        margin-top: 80px;
        color: $pink;
    }

    .login__button {
        position: absolute;
        bottom: 130px;
        left: 0;
        padding: 10px 40px 10px 80px;
        border-radius: 10px;
        cursor: pointer;
        font-family: "headers";
        font-size: 30px;
        line-height: 30px;
        color: $dark_pink;
        background-color: black;
        border-right: 2px solid $dark_pink;
        -webkit-transition: all 0.03s ease-in;
        -moz-transition: all 0.03s ease-in;
        -o-transition: all 0.03s ease-in;

        &:hover {
            padding-left: 100px;
        }
    }
}

.standard-view {
    padding: 20px;

    .standard-view__title {
        padding: 20px 0;
        font-size: 42px;
        line-height: 42px;
        color: $dark_pink;
        font-family: "headers";
    }

    .standard-view__subtitle {
        padding: 5px 0;
        font-size: 18px;
        line-height: 18px;
        font-weight: bold;
        color: $darkest_pink;
    }
}

.navigation-item {
    @extend %button_style;
    width: 25%;
    min-width: 200px;
    max-width: 400px;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    background-color: $lightest_pink;

    .navigation-item__useless-box,
    .navigation-item__content {
        display: inline-block;
    }

    .navigation-item__useless-box {
        width: 10%;
    }

    .navigation-item__content {
        box-sizing: border-box;
        width: 90%;
        padding: 5px 10px;
        border-radius: 3px;
        background-color: white;
    }

    .navigation-item__title {
        @extend %text_overflow;
        font-size: 20px;
        line-height: 30px;
        color: $dark_pink
    }

    .navigation-item__text {
        font-size: 16px;
        line-height: 20px;
        color: $darkest_pink;
    }
}

.pull-request-list {
    .pull-request-list__request {
        font-size: 16px;
        line-height: 24px;
        color: black;
    }
}

