body {
    background-color: black;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "curly";
    src: url("/static/fonts/curly.ttf");
}

@font-face {
    font-family: "stalemate";
    src: url("/static/fonts/stalemate.ttf");
}

%text_overflow {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

$bright_blue: #A8D7E0;
$medium_blue: #3D818F;
$medium_brown: #8F703D;
$medium_grey: #919191;

.login {
    position: absolute;
    left: 50%;
    top: 100px;
    margin-left: -40%;
    height: 60%;
    width: 80%;
    border-radius: 10px;
    background: url("/static/images/orgy.jpg");
    background-size: cover;
    box-shadow: 0 0 100px 50px black inset;

    .login__title {
        font-family: "stalemate";
        font-size: 82px;
        line-height: 82px;
        margin-left: 80px;
        margin-top: 80px;
        color: $bright_blue;
    }

    .login__tagline {
        position: absolute;
        bottom: 80px;
        left: 0;
        padding: 10px 40px 10px 80px;
        border-radius: 10px;
        font-size: 14px;
        line-height: 14px;
        color: $medium_blue;
        font-family: "curly";
        background-color: black;
        border-right: 2px solid $medium_blue;

    }

    .login__button {
        position: absolute;
        bottom: 130px;
        left: 0;
        padding: 20px 40px 10px 80px;
        border-radius: 10px;
        cursor: pointer;
        font-family: "curly";
        font-size: 30px;
        line-height: 30px;
        color: $medium_blue;
        background-color: black;
        border-right: 2px solid $medium_blue;
        -webkit-transition: all 0.03s ease-in;
        -moz-transition: all 0.03s ease-in;
        -o-transition: all 0.03s ease-in;

        &:hover {
            padding-left: 100px;
        }
    }
}

.dashboard {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("/static/images/stardust.png");

    .dashboard__container {
        position: absolute;
        top: 100px;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: scroll;
    }

    .dashboard__header {
        background-color: black;
        height: 60px;
        padding: 20px;

        .dashboard__header-title {
            color: $bright_blue;
            font-family: "stalemate";
            font-size: 40px;
            line-height: 80px;
        }
    }
}

.standard-view {
    padding: 20px;

    .standard-view__title {
        padding: 20px 0;
        font-size: 42px;
        line-height: 42px;
        color: $medium_blue;
        font-family: "curly";
    }

    .standard-view__subtitle {
        padding: 5px 0;
        font-size: 18px;
        line-height: 18px;
        color: $medium_brown;
        font-family: sans-serif;
    }
}

.navigation-item {
    width: 25%;
    min-width: 200px;
    max-width: 400px;
    border-radius: 5px;
    border-width: 3px;
    border-style: solid;
    display: inline-block;
    cursor: pointer;

    &:hover {
        box-shadow: 0 0 20px 0 $medium_grey;
    }

    .navigation-item__useless-box,
    .navigation-item__content {
        display: inline-block;
    }

    .navigation-item__useless-box {
        width: 10%;
    }

    .navigation-item__content {
        box-sizing: border-box;
        width: 90%;
        padding: 5px;
        border-radius: 3px;
        background-color: white;
    }

    .navigation-item__title {
        @extend %text_overflow;
        font-size: 20px;
        line-height: 30px;
        font-family: sans-serif;
    }

    .navigation-item__text {
        font-size: 16px;
        line-height: 20px;
        font-family: sans-serif;
    }
}

.pull-request-list {
    .pull-request-list__request {
        font-family: sans-serif;
        font-size: 16px;
        line-height: 24px;
        color: $medium_grey;
    }
}

